In [1]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

### .lstrip() **removes whitespace characters (spaces, tabs, newlines) only from the left side (the beginning) of the string.

### It does not remove trailing spaces on the right.

In [2]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### .strip() removes all leading and trailing whitespace (spaces, tabs, newlines) from both sides.

### Unlike .lstrip() (left only) or .rstrip() (right only), .strip() works on both ends.

# Using Escape Character

In [3]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [4]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

# List

##  List is an ordered sequence of items.
 ## 2) We can have different data types under a list. E.g we can have integer, float and string items in a same list.

### List Creation

In [6]:
list1 = [] # Empty List
list1

[]

In [7]:
print(type(list1))

<class 'list'>

In [9]:
list2 = [10,30,60] # List of integers numbers
list2

[10, 30, 60]

In [11]:
list3 = [10.77,30.66,60.89] # List of float numbers
list3

[10.77, 30.66, 60.89]

In [12]:
list4 = ['one','two' , "three"] # List of strings
list4

['one', 'two', 'three']

In [13]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists
list5

['Asif', 25, [50, 100], [150, 90]]

In [14]:
list6 = [100, 'Asif', 17.765] # List of mixed data types
list6

[100, 'Asif', 17.765]

In [15]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [16]:
len(list6) #Length of list

3

## List Indexing

In [17]:
list2

[10, 30, 60]

In [18]:
list2[0] # Retreive first element of the list

10

In [19]:
list4[0] # Retreive first element of the list

'one'

In [20]:
list4

['one', 'two', 'three']

In [21]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [22]:
list4[-1] # Last item of the list

'three'

In [23]:
list5

['Asif', 25, [50, 100], [150, 90]]

In [24]:
list5[-1] # Last item of the list

[150, 90]

## List Slicing

In [25]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [27]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item a

['three', 'four', 'five']

In [28]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [29]:
mylist[:2] # Return first two items

['one', 'two']

In [30]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [31]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [32]:
mylist[-1] # Return last item of the list

'eight'

In [33]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Add , Remove & Change Items

In [34]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [35]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [36]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [37]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [38]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [39]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [40]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [41]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [42]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [43]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [49]:
mylist = [10]
mylist

[10]

In [50]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

## Copy List

In [52]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [54]:
mylist1 = mylist # Create a new reference "mylist1"
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [55]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1680066562688, 1680066562688)

In [59]:
mylist2 = mylist.copy() # Create a copy of the list
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [58]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

1680066593920

In [62]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [63]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [64]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

## Join Lists

In [67]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
print(list1)
print(list2)

['one', 'two', 'three', 'four']
['five', 'six', 'seven', 'eight']

In [68]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [69]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List Membership

In [70]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [71]:
'one' in list1 # Check if 'one' exist in the list

True

In [72]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [74]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [75]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

 ## Reverse & Sort List

In [76]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [77]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [78]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [79]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [80]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [81]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original

[11, 21, 33, 65, 88, 98]

In [82]:
mylist4

[88, 65, 33, 21, 11, 98]

## Loop through a list

In [83]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [85]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [86]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count

In [88]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [89]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [90]:
list10.count('two') # Occurence of item 'two' in the list

2

In [91]:
list10.count('four') #Occurence of item 'four' in the list

1

## All / Any

### The all() method returns:
### True - If all elements in a list are true
### False - If any element in a list is false
### The any() function returns True if any element in the list is True. If not, any() returns False.

In [92]:
L1 = [1,2,3,4,0]
L1

[1, 2, 3, 4, 0]

In [93]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [94]:
any(L1) # Will Return True as we have items in the list with True value

True

In [95]:
L2 = [1,2,3,4,True,False]
L2

[1, 2, 3, 4, True, False]

In [96]:
all(L2) # Returns false as one value is false

False

In [97]:
any(L2) # Will Return True as we have items in the list with True value

True

In [98]:
L3 = [1,2,3,True]
L3

[1, 2, 3, True]

In [99]:
all(L3) # Will return True as all items in the list are True

True

### all() → strict (every element must be True).

 ### any() → lenient (just one True is enough).

### Empty list: all([]) = True, any([]) = False.