# Sets

1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

## Set Creation

In [1]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset) #Length of the set

5

In [3]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [4]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [5]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [6]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [7]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [8]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [9]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [11]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

five
one
two
four
six
eight
three
seven

In [12]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'one')
(2, 'two')
(3, 'four')
(4, 'six')
(5, 'eight')
(6, 'three')
(7, 'seven')

# Set Membership

In [13]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [14]:
'one' in myset # Check if 'one' exist in the set

True

In [15]:
'ten' in myset # Check if 'ten' exist in the set

False

In [16]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [17]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

  # Add & Remove Items

In [18]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [19]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [21]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [22]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.clear() # Delete all items in a set
myset

set()

In [24]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [25]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [26]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same

(2192320376704, 2192320376704)

In [28]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
id(my_set) # The address of my_set will be different from myset because my_set is copied from myset

2192320377152

In [30]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

 ## Union

In [35]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [36]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
A.union(B, C) # Union of A, B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [40]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [41]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [43]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [44]:
"""
Updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

# Difference

In [46]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [47]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [48]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [49]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [50]:
B.difference(A)

{6, 7, 8}

In [51]:
"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

# Symmetric Difference

In [52]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [53]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both

{1, 2, 3, 6, 7, 8}

In [54]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [61]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5}

 # Subset , Superset & Disjoint

In [62]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [63]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are present

True

In [64]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [65]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

True

In [66]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

False

# Other Builtin functions

In [67]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
sum(A)

45

In [69]:
max(A)

9

In [70]:
min(A)

1

In [71]:
len(A)

9

In [72]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [73]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

Dictionary is a mutable data type in Python.

A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.

Keys must be unique in a dictionary, duplicate values are allowed.

## Create Dictionary

In [2]:
mydict = dict() # empty dictionary
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [11]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat','mat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'mat')}

## dict.fromkeys(keys, value) creates a dictionary with each key in keys mapped to the same value.

In [12]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'c': None, 'b': None, 'd': None}

In [13]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'a': 10, 'c': 10, 'b': 10, 'd': 10}

In [14]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [15]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

 ## Accessing Items

In [16]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [17]:
mydict[1] # Access item using key

'one'

In [18]:
mydict.get(1) # Access item using get() method

'one'

In [19]:
mydict1 = {'Name':'Sania' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Sania', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [20]:
mydict1['Name'] # Access item using key

'Sania'

In [21]:
mydict1.get('job') # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [26]:
mydict1 = {'Name':'Sania' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Sania', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [27]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Sania', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [28]:
dict1 = {'DOB':2004}
mydict1.update(dict1)
mydict1

{'Name': 'Sania', 'ID': 12345, 'DOB': 2004, 'Address': 'Delhi'}

In [30]:
mydict1['Job'] = 'Data scientist' # Adding items in the dictionary
mydict1

{'Name': 'Sania',
 'ID': 12345,
 'DOB': 2004,
 'Address': 'Delhi',
 'Job': 'Data scientist'}

In [31]:
mydict1.pop('ID') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Sania', 'DOB': 2004, 'Address': 'Delhi', 'Job': 'Data scientist'}

In [32]:
mydict1.popitem() # A random item is removed

('Job', 'Data scientist')

In [33]:
mydict1

{'Name': 'Sania', 'DOB': 2004, 'Address': 'Delhi'}

In [34]:
del[mydict1['Address']] # Removing item using del method
mydict1

{'Name': 'Sania', 'DOB': 2004}

In [35]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [36]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [39]:
mydict = {'Name':'Carlos' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Monaco'}
mydict

{'Name': 'Carlos', 'ID': 12345, 'DOB': 1991, 'Address': 'Monaco'}

In [41]:
mydict1 = mydict # Create a new reference "mydict1"

In [42]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1850633353088, 1850633353088)

In [44]:
mydict2 = mydict.copy() # Create a copy of the dictionary
mydict2

{'Name': 'Carlos', 'ID': 12345, 'DOB': 1991, 'Address': 'Monaco'}

In [45]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict

1850633448256

In [46]:
mydict['Address'] = 'Mumbai'

In [47]:
mydict

{'Name': 'Carlos', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [48]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Carlos', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [49]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Carlos', 'ID': 12345, 'DOB': 1991, 'Address': 'Monaco'}

# Loop through a Dictionary

In [52]:
mydict1 = {'Name':'Sania' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'usa','job':'Data scientist' }
mydict1

{'Name': 'Sania',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'usa',
 'job': 'Data scientist'}

In [54]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Sania
ID : 12345
DOB : 1991
Address : usa
job : Data scientist

In [55]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Sania
12345
1991
usa
Data scientist

 # Dictionary Membership

In [57]:
mydict1 = {'Name':'Carlos' , 'ID': 55 , 'DOB': 1994 , 'Job': 'F1 Driver'}
mydict1

{'Name': 'Carlos', 'ID': 55, 'DOB': 1994, 'Job': 'F1 Driver'}

In [58]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [59]:
'Carlos' in mydict1 # Membership test can be only done for keys.

False

In [60]:
'ID' in mydict1

True

In [61]:
'Address' in mydict1

False

# All / Any

The all() method returns:

True - If all all keys of the dictionary are true
False - If any key of the dictionary is false

The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [62]:
mydict1 = {'Name':'Carlos' , 'ID': 55 , 'DOB': 1994 , 'Job': 'F1 Driver'}
mydict1

{'Name': 'Carlos', 'ID': 55, 'DOB': 1994, 'Job': 'F1 Driver'}

In [63]:
all(mydict1) # Will Return false as one value is false (Value 0)

True